
<div class="container">
    <div class="row">
        <div class="col-3 d-none d-md-block">
            <div class="sidebar">
                <div class="sidebar__title">Tools</div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="sidebar">
                <div class="sidebar__title">Posts</div>
            </div>
        </div>
        <div class="col-3 d-none d-md-block">
            <div class="sidebar">
                <div class="sidebar__title">News</div>
            </div>
        </div>
    </div>
</div>