@import "./../../../assets/scss/custom";

.sidebar {
    height: 100%;
    background-color: gainsboro;
    border-radius: toREM(20);
    padding: toREM(15);
    box-shadow: 25px 18px 33px -16px rgba(135,135,135,0.51);
}